.notification {
    color: white;
    text-decoration: none;
    padding: 5px 6px;
    position: relative;
    display: flow-root;
    border-radius: 24px;
}

.notification:hover,
.notification:active {
    background: #0d72b53f;
}

.notification .badge {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: small;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: #0d72b53f;
    color: white;
}

// .example-spacer {
//     flex: 1 1 auto;
// }
// table {
//     width: 100%;
// }
// .mat-form-field {
//     font-size: 14px;
//     width: 100%;
// }
// .container {
//     max-width: 1200px;
//     margin: 0 auto;
// }
// .footer {
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//     height: 45px;
//     background-color: #673AB7;
//     text-align: center;
//     color: black;
// }
mat-toolbar {
    background: #001E40;
    color: white;
}

mat-sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 20%;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    z-index: 1;
    background-color: #001E40;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    /* 0.5 second transition effect to slide in the sidenav */
}

#main {
    height: calc(100vh - 130px);
    margin: 0;
    padding: 16px;
    overflow: auto;
    z-index: 1;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    mat-icon {
        margin-right: 8px;
    }
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 8px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

.example-spacer {
    flex: 1 1 auto;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

// FONTS
$sans: 'Source Sans Pro',
Helvetica,
Arial,
sans-serif;
// COLORS
$orange: #DF4500;
$gray: #35302D;
$gray-shine: #3C3735;
$white-off: #DFDBD9;
// REUSABLE STYLES
.unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    a {
        text-decoration: none;
    }
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 17.5em;
    background: $gray;
}

// HEADER STYLES
.header {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 17.5em;
    background: $gray;
}

.button {
    position: relative;
    overflow: hidden;
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.logo {
    text-transform: lowercase;
    font: 300 2em $sans;
    text-align: center;
    padding: 0;
    margin: 0;
    a {
        display: block;
        padding: 1em 0;
        color: $white-off;
        text-decoration: solid;
        transition: .15s linear color;
        &:hover {
            color: #fff;
            span {
                color: #79a099;
            }
        }
    }
    span {
        font-weight: 700;
        transition: .15s linear color;
    }
}

// MAIN NAV
.main-nav {
    // ul {
    //     border-top: solid 1px $gray-shine;
    // }
    li {
        border-bottom: solid 1px #004a9f9a;
    }
    a {
        padding: 1.1em 0;
        color: #7ea09a;
        font: 400 1.125em $sans;
        text: {
            align: left;
        }
        &:hover {
            color: #fff;
        }
    }
}

// HOVER SLIDE EFFECT
.list-hover-slide {
    li {
        position: relative;
        overflow: hidden;
    }
    a {
        display: block;
        position: relative;
        z-index: 1;
        transition: .35s ease color;
        &:before {
            content: '';
            display: block;
            z-index: -1;
            position: absolute;
            left: -100%;
            top: 0;
            width: 100%;
            height: 100%;
            border-right: solid 7px #1f8b82;
            background: #001e4086;
            transition: .34s ease left;
        }
        &.is-current,
        &:hover {
            &:before {
                left: 0;
            }
        }
    }
}

.icon-display {
    transform: scale(1.5);
    margin-left: 40px;
    margin-right: 10px;
}

.vertical-center {
    margin: 0;
    right: 0;
    position: fixed;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sidenav-content {
    display: flex;
    height: calc(100vh - 128px);
    align-items: center;
    justify-content: center;
    padding-top: 64px;
}

.zindex2 {
    position: relative;
    z-index: 2;
}

.mat-drawer {
    min-width: 1vw;
}

.icon {
    display: inline-block;
    font-size: 30px;
    vertical-align: middle;
}

.text {
    display: inline-block;
    vertical-align: middle;
}
